@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Proza+Libre:wght@500&display=swap');

$main-font: 'Proza Libre', sans-serif;
$text-font: 'Open Sans', sans-serif;
$color-green: #13C86F;

.left-wrapper {

    .imgdata-wrapper {
        position: relative;
        display: flex;

        &--name {
            position: absolute;
            margin: auto;
            margin-left: 1.2rem;
            bottom: 2.7rem;
            right: 10;
            font-family: $main-font;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $color-green;
        }
        &--title {
            position: absolute;
            margin: auto;
            margin-left: 1.8rem;
            bottom: 1rem;
            font-family: $main-font;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        &--dot {
            position: absolute;
            margin: auto;
            bottom: 0.7rem;
            font-size: 1.5rem;
            left: 9.3rem;
            color: $color-green
        }
        &--age {
            position: absolute;
            margin: auto;
            bottom: 1.1rem;
            left: 10.5rem;
            font-family: $main-font;
            font-size: 0.7rem;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .contact-wrapper {
        margin: 0.6rem auto 0;
        &--icon {
            margin-right: 7px;
        }
        &--email {
            font-family: $main-font;
            font-size: 0.9rem;
            margin-top: 5px;
        }
    }

    .skills-wrapper {
        margin: 0 1rem;
        &--title {
            font-family: $main-font;
            font-size: 0.9rem;
            letter-spacing: 1px;
            text-decoration: underline;
        }
        .progress-bar--wrapper {
            .progress-bar--title {
                font-family: $text-font;
                font-size: 0.9rem;
                margin: 0.3rem auto;
            }
            .progress-bar {
                height: 10px;
                background-color: rgba(255, 255, 255, .12);
                position: relative;
                &--style {
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background-color: $color-green;
                    border-right: 1px solid white;
                    box-sizing: border-box;
                }
            }
        }
    }

    .language-wrapper {
        margin: 0.4rem 1rem;
        &--title {
            font-family: $main-font;
            font-size: 0.9rem;
            letter-spacing: 1px;
            text-decoration: underline;
        }
        .language-items {
            &--title {
                font-family: $text-font;
                font-size: 0.8rem;
                margin: 0.3rem auto;
            }
            .progress-bar--wrapper {
                .progress-bar {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 6px;
                    &--holder {
                        display: flex;
                        margin-left: 1rem;
                        height: 10px;
                        background-color: rgba(255, 255, 255, .12);
                        position: relative;
                        width: 70%;
                        .progress-bar--style {
                            height: 100%;
                            top: 0;
                            left: 0;
                            position: absolute;
                            background-color: $color-green;
                            border-right: 1px solid white;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
}