@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Proza+Libre:wght@500&display=swap');

$main-font: 'Proza Libre', sans-serif;
$text-font: 'Open Sans', sans-serif;
$color-green: #13C86F;

.right-wrapper {

    .aboutme-wrapper {
        h1 {
            font-family: $main-font;
            font-size: 1.2rem;
            color: $color-green;
            text-decoration: underline;
        }
        &--description {
            font-family: $text-font;
            font-size: 0.9rem;
            span {
                color: $color-green;
                font-weight: 600;
            }
        }
    }

    .experience-wrapper {
        h2 {
            font-family: $main-font;
            font-size: 1.2rem;
            margin-bottom: 0;
            color: $color-green;
            text-decoration: underline;
        }
        .companyPeriod-wrapper {
            display: flex;
            justify-content: space-between;
            .company-wrapper {
                font-family: $main-font;
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: 0px;
                margin-bottom: 4px;
            }
            .period-wrapper {
                display: flex;
                align-items: center;
                font-size: 0.8rem;
                font-family: $text-font;
                font-weight: 600;
                margin-bottom: 4px;
            }
        }
        .job-wrapper {
            font-family: $text-font;
            font-size: 0.8rem;
            margin-top: 0;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .description-wrapper {
            font-family: $text-font;
            font-size: 0.9rem;
            margin-top: 6px;
            margin-bottom: 3px;
        }
        .reference-wrapper {
            font-size: 0.8rem;
            .reference-data {
                margin: 0;
            }
        }
    }

    .education-wrapper {
        h2 {
            font-family: $main-font;
            font-size: 1.2rem;
            color: $color-green;
            text-decoration: underline;
        }
        .title-wrapper {
            font-family: $text-font;
            font-size: 0.9rem;
            font-weight: 600;
            margin-bottom: 6px;
        }
        .company-wrapper {
            font-family: $text-font;
            font-size: 0.8rem;
            margin-top: 6px;
        }
    }

    .react-icon--wrapper {
        font-family: $main-font;
        font-size: 0.7rem;
        p {
            display: flex;
            margin-top: 20px;
            margin-bottom: 0;
            justify-content: flex-end;
            align-items: center;
            .react-icon {
                font-size: 1.7rem;
            }
        }
    }
}